<div>Команды участников</div>

<div>Здесь потом выведем названия и картинку всех команд</div>

<table>
  <% @commands.each do |command| %>
      <tr>
        <td>
          <%= link_to root_path do %>
          <%= image_tag command.avatar.url(:thumb) %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

