<div>Команды участников</div>

<table>
  <% @commands.each do |command| %>
      <tr>
        <td>
          <%= link_to about_command_path(command) do %>
          <%= image_tag command.avatar.url   %> <br>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

