<div>
  Привет! Наш проект называется "Как в кино". Присоединяйся к нам!
  Зададим жару! Присоединяйся к нам! Зададим жару!Присоединяйся к нам! Зададим жару!Присоединяйся к нам!
  Зададим жару!Присоединяйся к нам! Зададим жару!Присоединяйся к нам! Зададим жару!
  Присоединяйся к нам! Зададим жару!Присоединяйся к нам! Зададим жару!Присоединяйся к нам!
  Зададим жару!Присоединяйся к нам! Зададим жару!Присоединяйся к нам! Зададим жару!Присоединяйся к нам!
  Зададим жару!
</div><br>
<br>
<br>
<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/upSwABrmWS8" frameborder="0" allowfullscreen></iframe>
</div>
<br>
<br>
<div>
  <%= link_to 'Подать заявку для участия в проекте', new_user_registration_path, class: 'btn btn-default navbar-btn' %>
</div>

<br>
<div>
  Здесь будет список спонсоров
</div>

