<div>Участники без команды</div>
<%= link_to 'Съёмочная группа', no_commands_film_crew_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Актёрский состав', no_commands_actors_path, class: 'btn btn-default navbar-btn' %>