<div>
  Список всех участников проекта:
</div>
<div>Здесь выведем абсолютно всех участников проекта</div>
<div><%= link_to 'В команде', root_path, class: 'btn btn-navbar btn-default' %></div>
<div><%= link_to 'Без команды', root_path, class: 'btn btn-navbar btn-default' %></div>