<div>Поиск участников проекта</div>

<%= link_to 'В команде', in_commands_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Без команды', no_commands_path, class: 'btn btn-default navbar-btn' %>